/* Fonts */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/opensanslight.woff") format("woff"),
    url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/opensans.woff") format("woff"),
    url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-yellow-dark: #f0c52e;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-sizing: border-box;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

/* .main-page {
  margin-top: -146px;
} */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  position: relative;
  text-align: center;
  width: 220px;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  text-decoration: none;
  z-index: 10;
}

.button:before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  width: 220px;
  height: 8px;
  background-color: var(--special-yellow-dark);
  z-index: -1;
}

.button:hover:before {
  transition: 0.1s;
  -webkit-transform: scaleY(5);
  -ms-transform: scaleY(5);
  transform: scaleY(5);
}

.button:not(:hover):before {
  transition: 0.1s;
}

.button:active {
  color: #a98b1a;
}

.header {
  width: 1160px;
  padding: 22px 0;
  margin: 0 auto;
  margin-top: 18px;
}

.header__container {
  min-height: 299px;
  padding: 0 60px;
  background-color: var(--special-yellow);
}

.header-catalog__container {
  min-height: 186px;
}

.header__logo {
  position: relative;
  bottom: 20px;
}

.header__logo:hover,
.footer__nav-logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__logo:active,
.footer__nav-logo:active {
  opacity: 0.3;
}

.header__list {
  display: flex;
  position: relative;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 47px;
  margin-top: 0;
  padding-top: 5px;
}

.header__list-link {
  text-decoration: none;
  color: var(--basic-black);
}

/* .header__list-link:hover {
  opacity: 0.6;
} */

.header__list-search {
  width: 316px;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  background-color: var(--special-yellow);
  outline: none;
  border: none;
  padding-left: 38px;
  padding-bottom: 14px;
}

.header__list-item:nth-child(1) {
  display: flex;
  /* margin-right: 366px; */
  position: absolute;
  /* margin-left: 36px; */
}

.header__list-item:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  left: 0;
  background-image: url("../img/icon_search.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__list-login {
  margin-left: 563px;
  margin-right: 241px;
}

.header__user-item:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 4px;
  left: -23px;
  background-image: url("../img/icon_user.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__list-login::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  left: 540px;
  background-image: url("../img/icon_user.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__list-item:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  left: 821px;
  background-image: url("../img/icon_chart.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__list-item:nth-child(4) {
  margin-left: 65px;
}

.header__list-item:nth-child(4)::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  left: 958px;
  background-image: url("../img/icon_cart.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__list-item:not(:first-child):hover {
  opacity: 0.6;
}

.header__list-item:not(:first-child):active {
  opacity: 0.3;
}

.header__user-item {
  position: absolute;
  right: 347px;
}

.header__list-item--logout {
  margin-left: 713px;
  margin-right: 24px;
}

.header__list-cart {
  margin-left: 65px;
}
.header__list-search::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.header__list-search:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

/* .header__list-search:hover {
  color: var(--basic-black);
} */

.header__list-button {
  cursor: pointer;
  width: 84px;
  height: 50px;
  background-color: transparent;
  border: solid 2px var(--basic-black);
  outline: none;
  position: absolute;
  left: 300px;
  bottom: 0px;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  display: none;
}

.header__list-button:hover {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.header__list-button:active {
  opacity: 0.3;
}

.header__list-search:focus {
  color: var(--basic-black);
  border-bottom: solid 2px var(--basic-black);
}

.header__list-search:focus + .header__list-button {
  display: block;
}

/* .header__list-item:nth-child(1):hover + .header__list-item:nth-child(2) {
  opacity: 0.3;
}
 */

.header__nav-list {
  display: flex;
  position: relative;
  padding-left: 0;
  padding-top: 3px;
  list-style-type: none;
  color: var(--basic-black);
}

.header__nav-item:nth-child(1) {
  position: relative;
  margin-right: 312px;
  letter-spacing: 0.12em;
  z-index: 15;
}

.header__nav-item:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  margin-left: 15px;
  background-image: url("../img/icon_plus.svg");
  cursor: pointer;
  right: -35px;
  top: 0;
}

.header__nav-item:nth-child(1):hover > div {
  visibility: visible;
}

.header__nav-item:nth-child(2) {
  margin-right: 33px;
  margin-left: 10px;
  letter-spacing: 0.24em;
}

.header__nav-item:nth-child(3) {
  margin-right: 108px;
  letter-spacing: 0.24em;
}

.header__nav-item:nth-child(4) {
  letter-spacing: 0.24em;
}

.header__nav-link:hover {
  opacity: 0.6;
}

.header__nav-link:active {
  opacity: 0.3;
}

.header__nav-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-black);
  text-decoration: none;
}

.header__nav-item:nth-child(1) .header__nav-link {
  letter-spacing: 0.2em;
}

.header__menu {
  left: -60px;
  padding-left: 60px;
  padding-right: 59px;
  visibility: hidden;
  width: 1041px;
  padding-top: 30px;
  padding-bottom: 25px;
  /* height: 250px; */
  display: flex;
  flex-direction: row;
  position: absolute;
  /* bottom: 148px; */
  margin: 0 auto;
  z-index: 15;
  background-color: var(--special-yellow);
  opacity: 1;
}

.header__menu:hover {
  opacity: 1;
}

.header__menu-list {
  /* display: none; */
  padding-left: 0;
  margin-right: 63px;
  list-style-type: none;
  opacity: 1;
}

.header__menu-item {
  cursor: pointer;
  margin-bottom: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0em;
}

.header__menu-item:hover {
  opacity: 0.6;
}

.header__menu-item:active {
  opacity: 0.3;
}

.promo {
  position: relative;
  bottom: 152px;
  z-index: 10;
}

.promo__box {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 89px;
  padding-right: 47px;
  max-height: 440px;
}

.promo__box--1,
.promo__box--2,
.promo__box--3 {
  display: none;
}

.promo__box--current {
  display: grid;
}

.promo__box-controls {
  position: absolute;
  bottom: 83px;
  right: 88px;
  z-index: 20;
}

.promo__box-controls button {
  padding: 0;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
  margin-left: 14px;
}

.promo__box-controls .button__current {
  background-image: url("../img/ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.promo__info {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 36px;
}

.promo__info::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #fff;
}

.promo__info-num {
  position: absolute;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  color: var(--basic-white);
  justify-self: right;

  align-self: flex-end;
  top: -50px;
  max-height: 200px;
}

.promo__info-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 60px;
}

.promo__info-text {
  margin-bottom: 60px;
}

.promo__info-link {
  /* width: 223px; */
  vertical-align: middle;
}

/* .promo__info-link:active {
  opacity: 0.6;
} */
.promo__info-desc {
  margin-top: 59px;
  border-collapse: collapse;
}

.promo__info-features {
  /* margin-bottom: 5px; */
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  /* padding-bottom: 20px; */
}

.promo__info-features > td:nth-child(1) {
  padding-left: 0px;
}

.promo__info-features > td:nth-child(2) {
  padding-left: 17px;
  padding-right: 14px;
}

.promo__info-features > td:nth-child(3) {
  /* padding-left: 7px; */
}

.promo__info-benefits {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.promo__info-benefits > td:nth-child(1) {
  padding-left: 0px;
  padding-top: 14px;
}

.promo__info-benefits > td:nth-child(2) {
  padding-left: 17px;
  padding-right: 14px;
  padding-top: 14px;
}

.promo__info-benefits > td:nth-child(3) {
  padding-left: 5px;
  padding-top: 14px;
}

.popular {
}

.popular__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}

.popular__list-item {
  margin-right: 40px;
  background-image: linear-gradient(var(--special-yellow) 66%, #ffffff 66%);
  width: 160px;
}

.popular__list-item:hover {
  background-image: linear-gradient(
    var(--special-yellow-dark) 66%,
    #ffffff 66%
  );
}

.popular__list-item:nth-child(6n) {
  margin-right: 0px;
}

.popular__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1.1px;
  text-decoration: none;
  color: var(--basic-black);
}

.popular__link:active {
  opacity: 0.3;
}

.popular__link:before {
  content: "";
  display: block;
  position: relative;
  padding: 80px 80px;
  /* background-color: var(--special-yellow); */
  margin-bottom: 38px;
  background-position: center;
  background-repeat: no-repeat;
}

.popular__link:active:before {
  opacity: 0.3;
}

.popular__list-item:nth-child(1) > .popular__link::before {
  content: "";
  background-image: url("../img/icon-vr.svg");
}

.popular__list-item:nth-child(2) > .popular__link:before {
  content: "";
  background-image: url("../img/icon-monopods.svg");
}
.popular__list-item:nth-child(3) > .popular__link:before {
  content: "";
  background-image: url("../img/icon-action-cam.svg");
}
.popular__list-item:nth-child(4) > .popular__link:before {
  content: "";
  background-image: url("../img/icon_popular.svg");
  letter-spacing: 0;
}

.popular__list-item:nth-child(4) > .popular__link {
  letter-spacing: 0;
}
.popular__list-item:nth-child(5) > .popular__link:before {
  content: "";
  background-image: url("../img/icon-smart-watch.svg");
}
.popular__list-item:nth-child(6) > .popular__link:before {
  content: "";
  background-image: url("../img/icon-quadcopter.svg");
}

.popular__link:hover:before {
  content: "";
  /* background-color: var(--special-yellow-dark); */
}

.features {
  background-color: var(--basic-grey-light);
  background-image: linear-gradient(#ffffff 37%, var(--basic-grey-light) 37%);
  padding-top: 104px;
  padding-bottom: 0px;
}

.features__container {
  display: flex;
  flex-direction: row;
}

.features__list {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 272px;
  bottom: 56px;
  padding-top: 67px;
  padding-bottom: 46px;
  padding-left: 5px;
  border-right: solid 7px black;
}

.features__list-item {
  width: 163px;
  cursor: pointer;
  position: relative;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  margin-bottom: 38px;
  margin-left: -5px;
}

.features__list-item:nth-child(1) {
  margin-top: 27px;
}

.features__list-item > input::before {
  width: 160px;
}

.features__list-item input {
  display: none;
}

.features__list-item {
  text-align: center;
  cursor: pointer;
}

.features__list-radio + label {
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-align: center;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.features__list-radio + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  width: 160px;
  height: 8px;
  background-color: var(--special-yellow-dark);
  z-index: -1;
}

.features__list-radio + label:hover::before {
  content: "";
  transition: 0.1s;
  -webkit-transform: scaleY(5);
  -ms-transform: scaleY(5);
  transform: scaleY(5);
}

.features__list-radio + label:not(:hover)::before {
  content: "";
  transition: 0.1s;
}

.features__list-radio:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  width: 280px;
  height: 40px;
  color: var(--special-yellow);
  background-color: var(--basic-black);
  z-index: -1;
}

.features__list-radio:checked + label {
  color: var(--special-yellow);
}

.features__info--warranty,
.features__info--credit {
  display: none;
}

.features__info-box {
  position: relative;
  /* padding-left: 116px; */
  padding-left: 116px;
  margin-top: 35px;
}

.features__info:after {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  right: -312px;
  bottom: 137px;
  background-image: url("/img/icon-delivery.svg");
  background-repeat: no-repeat;
}

.features__info-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-bottom: 41px;
  margin-top: 0px;
}

.features__info-desc {
  line-height: 30px;
  letter-spacing: 0.1em;
}

.partners {
  margin-top: 90px;
  margin-bottom: 96px;
}

.partners__list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.partners__list-item {
  margin-right: 39px;
}

.partners__list-item:nth-child(1):hover {
  background-image: url("../img/logo-dji-color.png");
}

.partners__list-item:nth-child(2):hover {
  background-image: url("../img/logo-spgadgets-color.png");
}
.partners__list-item:nth-child(3):hover {
  background-image: url("../img/logo-gopro-color.png");
}
.partners__list-item:nth-child(4):hover {
  background-image: url("../img/logo-vive-color.png");
}

.about__container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  max-height: 1000px;
  padding-bottom: 85px;
}

.about__info::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  top: -10px;
  background-color: var(--basic-black);
}

.about__info-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-bottom: 40px;
}

.about__info-text {
  line-height: 28px;
  margin-bottom: 40px;
}

.about__info-desc {
  line-height: 28px;
  margin-bottom: 60px;
}

.about__info-list {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  padding-left: 33px;
  margin-bottom: 80px;
  list-style-type: none;
}

.about__info-item {
  position: relative;
  margin-bottom: 14px;
}

.about__info-item::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  left: -34px;
  top: 8px;
  border: solid 2px var(--basic-grey-light);
  border-radius: 50%;
}

.about__info-link {
  width: 210px;
  padding-left: 25px;
}

.about__info-link::before {
  width: 210px;
  padding: 0px 25px;
}

.about__contacts {
  padding-left: 20px;
}

.about__contacts::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  top: -10px;
  background-color: var(--basic-black);
}

.about__contacts-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-bottom: 40px;
}

.about__contacts-text {
  line-height: 28px;
  margin-bottom: 40px;
}

.about__contacts-map {
  margin-bottom: 80px;
}

.about__contacts-link {
  width: 260px;
  padding-left: 40px;
}

.about__contacts-link::before {
  width: 260px;
}

.catalog {
}

.catalog__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* position: relative; */
}

.catalog__container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  background-image: linear-gradient(
    to left,
    var(--basic-grey-light) 68em,
    #dcdcdc 5%
  );
  /* background-position: 0px 157px; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 10;
}

.catalog__container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1214px;
  left: 0;
  top: 497px;
  background-image: linear-gradient(
    to left,
    var(--basic-white) 1213px,
    var(--basic-grey-light) 5%
  );
  /* background-position: 0px 157px; */
  background-size: 105% 100%;
  background-repeat: no-repeat;
  z-index: 5;
}

.catalog__header {
  justify-self: 1;
  margin-bottom: 48px;
}

.catalog__header-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin-left: 60px;
  margin-top: 22px;
}

.catalog__header-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-left: 60px;
}

.catalog__header-item {
  position: relative;
  margin-right: 41px;
}

.catalog__header-item::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon_arrow_nav.svg");
  background-repeat: no-repeat;
  bottom: 0;
  right: -30px;
}

.catalog__header-item:last-child::after {
  display: none;
}

.catalog__header-link {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
  color: var(--basic-black);
  text-decoration: none;
}

.catalog__header-link:hover {
  opacity: 0.6;
}

.catalog__header-link:active {
  opacity: 0.1;
}

.filter-wrapper {
  background-image: linear-gradient(
    to bottom,
    #dcdcdc 70px,
    var(--basic-grey-light) 70px
  );
  /* background-position: 0px 157px; */
  background-size: 100% 100%;
  display: grid;
  position: relative;
  z-index: 15;
}

/* .filter-wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  background-image: linear-gradient(
      to left,
      var(--basic-grey-light) 68em,
      #dcdcdc 5%
    ),
    linear-gradient(to left, var(--basic-grey-light) 5em, var(--basic-white) 5%);
  background-position: 0px 157px;
  background-size: 100% 5%;
  background-repeat: no-repeat;
} */

.filter {
  margin-left: auto;
  padding-right: 51px;
}

.filter__container {
  margin-top: 70px;
}

.filter__title {
  display: block;
  width: 100%;

  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #dcdcdc;
}

.filter__cost-form {
  border-top: solid 2px var(--basic-black);
  width: 200px;
  padding-top: 15px;
}

.filter-item {
  padding: 0;
  margin: 0;
  margin-left: -1px;
  border: none;
}

.filter-item legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter__range {
  width: 196px;
}

.filter__range-controls {
  position: relative;
  height: 15px;
  padding-top: 39px;
}

.filter__min-price {
  margin-right: 11px;
}

.filter__cost-scale {
  height: 2px;
  background: var(--basic-half-grey);
}

.filter__cost-bar {
  width: 63%;
  height: 2px;
  background: var(--special-green);
}

.filter__cost-toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 113px;
}

.filter__cost-controls label {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.filter__cost-controls input {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  width: 60px;
  outline: none;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: var(--basic-grey-light);
}

.filter__color {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  border-top: solid 2px var(--basic-black);
  width: 200px;
  margin-top: 38px;
  padding-top: 15px;
  margin-bottom: 0px;
}

.filter__color-list {
  list-style-type: none;
  margin-top: 28px;
  padding-left: 0;
}

.filter__color-value {
  display: none;
}

.filter__color-value:checked + .filter__color-text:before {
  content: "";
  position: relative;
  background-image: url("../img/icon-vector.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter__color-item {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 15px;
}

.filter__color-text:before {
  content: " ";
  color: #000;
  display: inline-block;
  margin-right: 18px;
  text-align: center;
  width: 20px;
  height: 20px;
  background: var(--basic-grey-light);
  border: 2px solid var(--basic-black);
  border-radius: 3px;
  vertical-align: middle;
}

.filter__color-text:hover:before {
  opacity: 0.6;
}

.filter__color-text-block {
  opacity: 0.3;
}

.filter__bluetooth-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  border-top: solid 2px var(--basic-black);
  width: 200px;
  padding-top: 14px;
}

.filter__bluetooth {
  margin-top: 37px;
}

.filter__bluetooth-title {
  margin-bottom: 30px;
}

.filter__bluetooth-value {
  display: none;
}

.filter__bluetooth-no,
.filter__bluetooth-yes {
  font-size: 15px;
  line-height: 19px;
  cursor: pointer;
}

.filter__bluetooth-no:hover:before,
.filter__bluetooth-yes:hover:before {
  opacity: 0.6;
}

.filter__bluetooth-no:before,
.filter__bluetooth-yes:before {
  content: " ";
  color: #000;
  display: inline-block;
  margin-right: 15px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-black);
  vertical-align: middle;
  border-radius: 50%;
}

.filter__bluetooth-value:checked + .filter__bluetooth-no::after {
  content: "";
  color: #000;
  display: inline-block;
  margin-right: 15px;
  position: relative;

  text-indent: 0px;
  width: 6px;
  height: 6px;
  border: 2px solid var(--basic-black);
  vertical-align: middle;
  border-radius: 50%;
  left: -58px;
  background-color: var(--basic-black);
}

.filter__bluetooth-value:checked + .filter__bluetooth-yes::after {
  content: "";
  color: #000;
  display: inline-block;
  margin-right: 15px;
  position: relative;
  text-indent: 0px;
  width: 6px;
  height: 6px;
  border: 2px solid var(--basic-black);
  vertical-align: middle;
  border-radius: 50%;
  left: -63px;
  top: 0;
  background-color: var(--basic-black);
}

.filter__bluetooth-choice {
  margin-bottom: 16px;
}

.filter__button-show {
  cursor: pointer;
  margin-top: 33px;
  padding: 0;
  outline: none;
  border: none;
  background-color: var(--basic-grey-light);
  padding-right: 25px;
}

.filter__button-show::before {
  width: 200px;
  text-align: center;
}

.container-products {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  background-color: var(--basic-white);
  z-index: 15;
}

.sorting {
  display: flex;
  padding: 24px 0px;
  background-color: var(--basic-grey-light);
}

.sorting__title {
  width: 126px;
  padding-left: 69px;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting__list {
  display: flex;
  margin: 0;
  margin-left: 73px;
  list-style: none;
  padding-left: 0;
  background-color: var(--basic-grey-light);
}

.sorting__item {
  cursor: pointer;
  margin-right: 29px;
}

.sorting__item:nth-child(4) {
  width: 18px;
  height: 20px;
  background-image: url(../img/icon-dir.svg);
  transform: rotate(180deg);
  opacity: 0.4;
  margin-left: 185px;
  margin-right: 17px;
}

.sorting__item:nth-child(4):hover {
  opacity: 0.6;
}

.sorting__item:nth-child(4):active {
  opacity: 1;
}

.sorting__item:nth-child(5) {
  width: 18px;
  height: 20px;
  background-image: url(../img/icon-dir.svg);
  transform: rotate(360deg);
  margin-right: 0;
  margin-top: 2px;
}

.sorting__item:nth-child(5):hover {
  opacity: 0.6;
}

.sorting__item:nth-child(5):active {
  opacity: 1;
}

.sorting__link {
  width: 18px;
  height: 18px;
  color: inherit;
  text-decoration: none;
  color: var(--basic-black);
  opacity: 0.3;
}

.sorting__link:hover {
  opacity: 0.6;
}

.sorting__link:active {
  opacity: 1;
}

.sorting__link--active {
  opacity: 1;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 37px;
  padding-left: 70px;
  padding-top: 70px;
  margin-bottom: 17px;
  justify-self: left;
  position: relative;
  z-index: 15;
  background-color: var(--basic-white);
}

.products__item {
  position: relative;
  cursor: pointer;
  margin-bottom: 11px;
}

.products__item-pic {
  margin-bottom: 26px;
}

.products__item-pic:hover {
  opacity: 0.3;
}

.products__item-cart {
  visibility: hidden;
  position: absolute;
  top: 179px;
  left: 72px;
}

.products__item-button {
  background-color: transparent;
  outline: none;
  border: none;
}

.products__item-button::before {
  top: 8px;
}

.products__item-link {
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

.products__item-title {
  width: 361px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: start; */
  /* vertical-align: middle; */
}

.products__item-text {
  display: block;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: var(--basic-black);
  /* padding-left: 2px; */
}

.products__item-cost {
  display: block;
  /* width: 94px; */
  padding-top: 3px;
  /* margin-left: auto; */
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  /* text-align: right; */
}

.products__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  margin-top: 12px;
  margin-bottom: 78px;
  margin-left: 67px;
}

.products__button {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
  padding: 25px;
}

.products__button:hover {
  background-color: #d9d9d9;
}

.products__button:active {
  color: #989898;
}

.products__button-back {
  justify-self: left;
  align-self: center;
  padding-left: 31px;
  /* margin-left: 32px; */
}

.products__button-next {
  justify-self: right;
  align-self: center;
  padding-right: 30px;
  /* margin-right: 29px; */
}

.products__nav-list {
  display: flex;
  list-style-type: none;
  justify-self: center;
  padding-left: 0;
  margin-left: 38px;
}

.products__nav-item {
  margin-right: 30px;
}

.products__nav-link {
  text-decoration: none;
  color: var(--basic-black);
  opacity: 0.3;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.products__nav-link:hover {
  opacity: 0.6;
}

.products__nav-link:active {
  opacity: 1;
}

.products__nav-link--active {
  opacity: 1;
}

.footer {
  background-color: var(--basic-dark);
}

.footer__container {
  padding-bottom: 60px;
}

.footer__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  vertical-align: top;
}

.footer__nav-logo {
  margin-top: 64px;
  margin-bottom: 36px;
}

.footer__nav-list {
  position: relative;
  width: 301px;
  display: flex;
  justify-self: end;
  padding-left: 15px;
  margin-top: 47px;
  margin-left: 15px;
  justify-content: space-between;
}

.footer__nav-item {
  position: relative;
  list-style-type: none;
  /* margin-right: 10px; */
}

.footer__nav-item:nth-child(1):before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: -24px;
  top: 3px;
  background-image: url("../img/icon_user_f.svg");
  background-repeat: no-repeat;
}

.footer__nav-item:nth-child(2):before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: -24px;
  top: 3px;
  background-image: url("../img/icon_chart_f.svg");
  background-repeat: no-repeat;
}

.footer__nav-compare:before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: -24px;
  top: 3px;
  background-image: url("../img/icon_cart_f.svg");
  background-repeat: no-repeat;
}
.footer__nav-cart:before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  background-image: url("..//img/icon_cart_f.svg");
  background-repeat: no-repeat;
  left: -22px;
  top: 5px;
}

.footer__nav-item:hover {
  opacity: 0.6;
}
.footer__nav-item:active {
  opacity: 0.3;
}

.footer__nav-link {
  color: var(--basic-white);
  opacity: 0.7;
  text-decoration: none;
}

.footer__nav-link:hover {
  color: var(--basic-white);
}

.footer__nav-link:active {
  color: var(--basic-white);
  opacity: 0.3;
}

.footer__nav-user {
  position: absolute;
  left: -139px;
}

.footer__nav-logout::before {
  display: none;
}

.footer__nav-compare:before {
  background-image: url("..//img/icon_chart_f.svg");
}

.footer__features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;
}

.footer__features-address {
  color: var(--basic-white);
  font-style: normal;
}

.footer__features-list {
  width: 427px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.footer__features-link {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: var(--basic-white);
}

.footer__features-link:hover {
  opacity: 0.6;
}

.footer__features-link:active {
  opacity: 0.3;
}

.footer__features-phone {
  justify-self: end;
  text-decoration: none;

  color: var(--basic-white);
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.footer__social::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  left: 0px;
  bottom: 31px;
  background-color: var(--special-yellow-dark);
}

.footer__social-list {
  display: flex;
  margin-left: auto;
  padding-left: 0;
  position: relative;
  list-style-type: none;
  left: 23px;
  top: 1px;
}

.footer__social-item {
  margin-right: 20px;
  opacity: 0.6;
}

.footer__social-item:hover {
  opacity: 1;
}

.footer__social-item:active {
  opacity: 0.3;
}
.footer__social-logo {
  justify-self: end;
  text-decoration: none;
  margin-left: auto;
  margin-top: 15px;
}

.footer__social-logo:hover {
  opacity: 0.6;
}
.footer__social-logo:active {
  opacity: 0.3;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-extra-light);
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.modal__write-us {
  display: none;
  /* position: absolute; */
  width: 960px;
  height: 550px;
  background-color: var(--basic-white);
  z-index: 150;
}

.modal__write-us form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 92px;
  padding-bottom: 69px;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  position: relative;
}

.modal__box {
  display: flex;
  flex-direction: column;
}

.modal__box label {
  margin-bottom: 10px;
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.modal__box input {
  border: none;
  background-color: #f2f2f2;
  width: 340px;
  height: 50px;
  padding-left: 20px;
  outline: none;
  /* position: absolute; */
}

.modal__box input:hover {
  background-color: var(--basic-grey-light);
}

.modal__box input:focus {
  outline: 2px solid #f7e296;
}

.modal__box input::-webkit-input-placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.modal__box input::-moz-placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.modal__box:nth-child(1),
.modal__box:nth-child(2) {
  width: 360px;
  height: 82px;
  margin-bottom: 14px;
}

.modal__box:nth-child(3) {
  width: 760px;
  margin-bottom: 45px;
}

.modal__write-us input {
  display: block;
  justify-self: flex-start;
}

.modal__box-title {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 9px;
}

.modal__box textarea {
  border: none;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-top: 14px;
  outline: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-half-grey);
}

.modal__box-textarea:focus {
  color: var(--basic-black);
  outline: 2px solid #f7e296;
}

.modal__box-textarea:hover {
  background-color: var(--basic-grey-light);
}

.modal-submit {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--special-yellow-dark);
  background-image: linear-gradient(
    var(--basic-white) 41%,
    var(--special-yellow-dark) 41%,
    var(--special-yellow-dark) 59%,
    var(--basic-white) 59%
  );
  /* background-position: 100% 50%; */
  padding: 10px 0px;
  width: 200px;
}

.modal-submit:hover {
  background-image: linear-gradient(
    var(--special-yellow-dark) 100%,
    var(--special-yellow-dark) 100%
  );
  transition: 0.1s;
}

.modal-submit:before {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  width: 220px;
  height: 8px;
  z-index: 150;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  width: 55px;
  height: 55px;
  background-image: url("../img/button_close.svg");
  background-color: transparent;
  outline: none;
  border: none;
  opacity: 0.6;
  top: 20px;
  right: 20px;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-map {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: fixed;
  width: 960px;
  height: 560px;
  box-shadow: 0px 9px 20px 8px rgba(0, 0, 0, 0.15);

  z-index: 150;
}

.modal-map iframe {
  border: none;
}
